
body {
  background-color: #D3D6D0;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;

}

.container{
    background-color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 55px;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    height: auto;
    width: 1050px;
    margin-top: 30px;
    align:center;
    font-family: monospace;
}


.try {
    display: inline-block;
}

.name{
    /* padding: 10px 50px 10px 20px; */
    margin-right:8px;
    margin-top:5px;
}

.amount{
    /* padding: 10px 50px 10px 20px; */
    margin-right:8px;
    margin-top:5px;
}


.footer{
    margin-left:445px;

}

.drop_name{
    height:30px;
    font-size:14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom:10px;

}


.drop_amount{
    height:30px;
    font-size:14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom:10px;

}