@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color: #D3D6D0;
  -webkit-font-smoothing: antialiased;
  font-family: monospace;

}

#form_cont{
border-top: 8px solid #337ab7;
/* border-bottom: 8px solid #337ab7; */
/* border-right: 8px solid #337ab7; */
/* border-left: 8px solid #337ab7; */
}

.icon{
    color: #337ab7;
}

.form_container {
    background-color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 55px;
    border-radius: 15px;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    height: 300px;
    width: 450px;
    margin-top: 30px;
    font-family: monospace;
}

.form-horizontal{
margin-right :100px;

}

#password, #username, #login{
font-size: 16px;
}


h4{
width:350px;
}


#password, #username, #login{
width:350px;
height:40px;
}

.input_form{
    margin-bottom:5px
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
    margin:0 0px 5px 15px;
}

