{% extends "base.html" %}
{% block finance %}
   {{ super() }}


<a  id="create_budget" href="#">Create Monthly Budget</a></li>
<a id="view_monthly"></a>

<br>

<textarea rows="4" cols="50">
  {{ months }}
  </textarea>

<!-- <textarea rows="4" cols="50"> -->
<!--   {{ names }} -->
<!--   </textarea> -->
  

<form class="form-inline budget_form" id="budget_frm" hidden>
  <fieldset>
    <legend>Budget Form</legend>
    <div class="col-md-6">
    <label class="label_name">Amount:
      <select id="budget_amount">
      	<option selected>0</option>
      </select>
      <label class="label_name">Amount Remaining:
	<input type="text" class="" id="remaining" value="0" disabled />
      </label>

    </label>
    </div>
    <div class="col-md-10 budget" hidden>
      {% for name in names %}	
	<input type="text" class="select_name" id="{{name.name }}_" value="{{ name.name }}" disabled />
	<select id="{{name.name }}"  class="drop_amount">
	  <option selected>0</option>
	</select>
	{% endfor %}

	<br><span class="group-btn">
	  <a href="#" class="btn btn-success" id="save">Save</a>
	  <a href="#" class="btn btn-warning" id="close">Close</a>
	</span>
	
    </div>
  </fieldset>
</form>

{% endblock %}
