{% extends "base.html" %}
{% block finance %}
   {{ super() }}


<textarea rows="4" cols="50">
  {{ months }}
  </textarea>

<textarea rows="4" cols="50">
  {{ names }}
  </textarea>



<div class="col-md-10 budget">
  <legend>Budget Form</legend>
  <div>
  <select id="select_name" name="name" class="drop_name">
    <option selected>Select Name</option>
    {% for name in names %}
    <option value="{{ name.name }}">{{ name.name }}</option>
    {% endfor %}
  </select>
  
  <select id="select_amount" name="name" class="drop_amount">
    <option selected>Select Name</option>
  </select>
  </div>
  
</div>
<br>
<div class="col-md-10">
  <span class="group-btn">
    <a href="#" class="btn btn-info" id="add">Add New Field</a>
    <a href="#" class="btn btn-success" id="save">Save</a>
  </span>
</div>
	  
{% endblock %}
