
{% extends "base.html" %}
{% block workout %}
   {{ super() }}

<div id="left_menu">
  
  <form  id="add_workout" hidden>
    <fieldset>

      <div id="workout_type">
	<label class="label_month">workout_type:
    	  <select id="Type">
	  </select>
	</label>


  	<label class="label_amount">Workout:
	  <input type="text"  id="workout_name"/>
	</label>
	<a href="#" class="btn btn-success" id="add">Add Workout</a>

      </div>
  
    </fieldset>
  </form>

  <div id="year_div">
    <label class="label_month">Year:
      <select id="year">
      </select>
    </label>
  </div>
  
  <form  id="workout_type">
    <fieldset>

      <div id="monthly_workout">

	<ul class="nav nav-pills nav-stacked">
	  <li>
	    <a href="#" class="month_workout" id="January">January</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="February">February</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="March">March</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="April">April</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="May">May</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="June">June</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="July">July</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="August">August</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="September">September</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="October">October</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="November">November</a>
	  </li>
	  <li>
	    <a href="#" class="month_workout" id="December">December</a>
	  </li>

	    </ul>
      </div>
	
    </fieldset>
  </form>



  
</div>

<div id="right_content">

  <a  id="record_slevel" href="#" style="margin-right:50px; margin-left:20px;">Record Sugar Level</a>
  <a id="record_wbp" href="#" style="margin-right:50px; margin-left:20px;">Compare Sugar Levels (Monthly)</a>

  <!-- Record sugar level section -->
  <div id="add sugar level" style="margin-top:20px">

    <div class="col-md-10 add_sugar_level">
      
      <form class="form-horizontal" id="add_slevel">
	<fieldset>
	  
	  <!-- drop down for s level-->
	  <div class="form-group">
	    <label class="col-md-2 control-label" for="textinput">Sugar Level</label>
	    <div class="col-md-2">
	      <select id="set_slevel" class="form-control input-md custom_input">
		<option selected > Set Sugar Level </option>

	      </select>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-md-2 control-label" for="textinput">Weight</label>
	    <div class="col-md-2">
	      <input id="weight" name="textinput" type="text" placeholder="Weigth in KG" class="form-control input-md custom_input">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="col-md-2 control-label" for="selectbasic">Enter Date taken</label>
	    <div class="col-md-2">
	      <input type="date" id="date_taken" name="trip-start" value="yyyy-mm-dd"  min="1920-01-01" max="2018-12-31" class="form-control input-md custom_input">
	  </div>

	  <!-- <p>Date: <input type="text" id="datepicker"></p> -->
	  
	</fieldset>
      </form>
      
    </div>

 
     <div class="create_profile">

	<form class="form-horizontal" id="workout_frm" hidden> <!-- hidden -->
	  <fieldset>
	    <div class="col-md-8" id="workout_container">
	      
	      <label class="label_workout">Name:
		<input type="text" id="name_wrk" class="workout_input" placeholder="Enter Name" />
	      </label>
	      
	      <label class="label_workout">Bicep:
		<input type="text" id="bicep_msr" class="workout_input" placeholder="bicep size (inches)" />
	      </label>
	      
	      <label class="label_workout">Chest:
		<input type="text" id="chest_msr" class="workout_input" placeholder="chest size (inches)" />  
	      </label>
	      
	      <label class="label_workout">Waist:
		<input type="text" id="waist_msr" class="workout_input" placeholder="waistline (inches)" />
	      </label>
	      
	      
	      <label class="label_workout">Weight:
		<input type="text" id="weight_msr" class="workout_input" placeholder="weight in kg" />
	      </label>

	      <div class="btn_profile">
		<a href="#" class="btn btn-success" id="add_prof">Add Profile</a>
		<a href="#" class="btn btn-danger" id="clear">Clear</a>
		<a href="#" class="btn btn-warning" id="close_prof">Close</a>
	      </div>
	      
	      
	    </div>
	    
	    
	  </fieldset>
	  
	</form>
	

	
      </div>



    
  

      <textarea rows="4" cols="50" id="template_wrk" show>

	
      </textarea>
  
</div>  
  {% endblock %}
