<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='herb.ico') }}" />
    
    <!-- CSS -->
    <!-- <link href="{{url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{{url_for('static', filename='login.css') }}" rel="stylesheet">

    <title>Management Portal</title>
  </head>

  <div class="container">
    
	<div class="alert alert-danger negative_msg" hidden>
	  <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong id="neg_msg_val"></strong> 
	</div>
	
        <div id="form_cont" class="form_container col-lg-offset-4 col-lg-6">

          <form class="form-horizontal" role="form">
	    
	    <div class="input_form form-group">
	      <h4><span style="font-size:3.5em;" class="glyphicon glyphicon-user icon"></span><br>Login</h4>
	      <div class="col-sm-10">
		<input type="text" id="username" class="test form-control input-lg chat-input" placeholder="enter username" autofocus="">
	      </div>
	    </div>

	    <div class="form-group">
	      <div class="col-sm-10">
		<input type="password" id="password" class="test form-control input-lg chat-input" placeholder="enter password">
	      </div>
	    </div>
	    
	    <div class="input_form form-group">
	      <div class="col-sm-10">
		  <a href="#" class="btn btn-primary btn-lg" id="login">login <span class="glyphicon glyphicon-log-in"> </span></a>
		</button>
	      </div>
	    </div>

	  </form>

        </div>

    </div>
      <footer class="footer">
	<div class="footer_container">
	  <p class="text-muted">&copy; Created by Herbert Aungon 2015</p>
	</div>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
      <script src="{{url_for('static', filename='main.js') }}"></script>
      <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
      <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
      <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
</body>
</html>
